/*common*/
body { font-family: 'Dancing Script', 'Nanum Brush Script', 'Nanum Myeongjo', 'Nanum Pen Script', 'Noto Serif KR', 'Open Sans', 'Stylish', sans-serif, cursive;}
.wrap > h3 { font-size:1.4em; font-family: 'Nanum Myeongjo'; color:#3b2207; font-weight:normal; }
.wrap > p { font-size:.8rem; text-transform:uppercase; letter-spacing:5px; color:#a4a9a4; font-family: 'Dancing Script'; margin-bottom:2em; }
.out_ft { width:100%; height:2em; background:#fffef7; }

/*info*/
.info { width:100%; height:auto; padding:20% 0 0; background:#F7F5E8; }
.info .hero  { text-align:center; }
.info .hero h1 { font-size:4em; color:#3b2207; line-height:1.2; font-family: 'Dancing Script'; font-weight:normal; }
.info .hero p { color:#58595b; font-size:1.2rem; margin-bottom:1em; font-family:'Nanum Myeongjo'; letter-spacing:-2px; }
.info .hero p em { font-size:1.1rem; }
.info .info_visual { width:100%; }
.info .info_visual .counter {border-radius:5%; position: absolute; top: 300; right: 60; padding: 0 20px 0 20px; background:rgba(0, 0, 0, 0.5); color:#fff; font-family:'Anton'; font-size: 50px;}
.info .info_visual img { width:100%;  border-radius: 5%;}
.info .info_ft { padding:1.8em 0; font-size:1.1em; text-align:center; line-height:1.4; background:#F7F5E8; font-family: 'Nanum Myeongjo'; }

/*content*/
.content { width:100%; height:auto; padding:1.8em 0 2em; background:url(/css/images/istockphoto-828612322-170667a.jpg) repeat-y; background-size:100%; font-family: 'Nanum Myeongjo'; }
.invite_wrap { margin-bottom:2em; padding:0 1.4em; text-align:center; }
.invite { padding:1.8em 1.4em 2.8em; background:#fffef7; }
.invite .m_txt { padding-bottom:3em; line-height:2; border-bottom:1px solid #d0d4c2;  }
.invite .hero_tel { text-align:center; padding:2em 0 0; letter-spacing:-1px; }
.invite .hero_tel p.w_hero { margin-top:.4em; }
.invite .hero_tel p em.pd { padding:0 .2em; }
.invite .hero_tel p span { font-size:1.2em; }
.invite .hero_tel p img { height:2.4em; vertical-align:middle; margin-left:.6em; }


/*gallery*/
.gallery_wrap { width:100%; background:#F7F5E8;  padding-bottom:2em; }
.gallery { padding-top:3em; text-align:center; }
#gallery{ padding: 5 18 5 18;}
#gallery a { border-bottom:1px solid #fff; }
#gallery a img { width: 100%;}
#gallery-1 { width: 87%; margin:0% auto; margin-top:0.5em; -webkit-user-select: none; -moz-user-select: none; user-select: none;}
.wedding-image { margin: 10 40 10 40 !important}
.wedding-image img {width: 100%;}

/*location*/
.location_wrap { padding:2em 1.4em; font-family: 'YGO_330'; }
.location { position:relative; padding:2em 1.2em; background:#fffef7; text-align:center; font-family: 'Nanum Myeongjo'; }
.location > p { margin-bottom:1.2em; }
.innr_map { position:relative; margin-bottom:1.8em; }
.go_map { position:absolute; bottom:0; width:100%; background:rgba(31,50,34,.5) }
.go_map a { display:block; padding:.2em .5em; text-align:right; font-size:.9em; color:#fff!important; }
.location_txt { text-align:left; float:left; width:100%; letter-spacing:-1px; word-wrap: break-word; }
.location_txt p.where { font-size:1.2em; margin-bottom:1em; color:#6e7d58; font-weight:600; }
.space { width:65%; border-bottom:1px solid #d0d4c2; }
.transit_i { position:absolute; bottom:2em; right:1.2em; }
.transit_i a { margin-left:.2em; }
.transit_i img { height:2.6em; }

/*footer*/
.footer { padding:0 1.4em; }
.f_sns { position:relative; }
.f_sns span { position:absolute; bottom:.2em; right:0; font-size:.8em; color:#fffef7; text-transform:uppercase; }
.f_sns ul li { display:inline-block; width:4em; }
.f_sns ul li a img { width:100%; }
